.dashboard-container{
    
    height: 100vh;
    background-color: #EFEFEF;
    display: flex;
    

}
.side-nave{
    width: 15%;
    background-color: rgb(12, 12, 12);
    overflow: hidden;
    /* padding: 10px; */
    
}
.content-container{
    
    
    width: 85%;
    overflow: scroll;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    

}
.content-container-main{
   width: 95%;
    margin-top: 110px;

} 
.contantent-container-top-bar-main{
    background-color: #EFEFEF;
    position: fixed;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contantent-container-top-bar{
    background-color: rgb(255, 21, 103);
    color: black;
     width: 96%;
    /* height: 10%; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: fixed; */
   
    font-weight: bolder;
    padding: 5px;
    
    border-radius: 10px;
    gap: 10px;
    /* box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.22); */
}

.profile-pic-div{
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    top: 86px;
    right: 78px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 100px;
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }
.profile-pic{
    width: 50px;
    
}
.profile-details{
    color: white;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

    
}

.profile-disgnation{
    font-size: 12px;
}

.profile-container {
    width: 100%;
    
    height: 10%;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
    
    background-color: white;
    
}


.profile-container button :hover{
    cursor: pointer;
    
}


.profile-pic-container{
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
}

.company-logo{
    width: 100%;
    
    padding: 5px;
}
.menu-container{
    
    margin-top: 35px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.menu-link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
    /* margin-left: 10px; */

}
.active-menu-link{
    background-color: #FF1567;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    transition: all 1s ease;
}

.menu-link:hover{
    background-color: #FF1567;
    padding-left: 40px;
    transform: scale(1.1);
}